Dear {{ customer.firsname }},

I hope you are {{ customer.laststate }}?
We spoke in the {{ customer.tense }} and I was keen to update with you to see how your current role was going as based on our previous discussions you were based in AWS and Cloud roles that I have.
I am currently working on an Amazon Gold Partner in The Netherlands focussed on AWS deployments and builds for...
